@import url('https://fonts.google.com/specimen/Inter');

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

body{
    font-family: 'Inter', 'arial';
    background-color:var(--grey900);
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.card{
    background-color: var(--grey800);
    color: var(--white);
    width: 384px;
    height: 611px;
    border-radius: 12px;
    gap:24px;
}

.profilePic{
    padding: 40px 148px 0 148px;
}

.profilePic img{
    border-radius: 999px;
}

.nameLocation{
    text-align: center;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    width: 304px;
    height: 61px;
}

.nameLocation p{
    font-size: 24px;
    line-height: 150%;
    height: 36px;
    margin-bottom: 4px;
    letter-spacing: 0;
}

#description{
    color:var(--green);
    font-size: 14px;
    line-height: 150%;
    margin-top: 4px;
    height: 21px;
    margin-bottom: 24px;
    letter-spacing: 0;
}

.bio{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 24px;
    color: var(--white);
    line-height: 150%;
    letter-spacing: 0;
}

.links {
    width: 304px;
    height: 289px;
    margin: 24px 40px 40px 40px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 12px;
}

.links a {
    display: block;
    width: 304px;
    height: 45px;
    background-color: var(--grey700);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    line-height: 45px; /* Para centrar verticalmente el texto */
    text-align: center;
    cursor: pointer;
}

.links a:hover {
    background-color: var(--green);
    color: var(--grey700);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
    color:white;
}

.attribution a { color: hsl(228, 45%, 44%); }

